.root{
    -fx-background-color: #ffffff;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: linear-gradient(#555555, #111111);
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: linear-gradient(#666666, #222222);
}

.button:pressed {
    -fx-background-color: linear-gradient(#333333, #000000);
}

.combo-box, .combo-box .list-cell, .combo-box-popup .list-view .list-cell {
    -fx-background-color: linear-gradient(#555555, #111111);
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(#666666, #222222);
}

.combo-box-base:showing, .combo-box-base:focused {
    -fx-background-color: linear-gradient(#333333, #000000);
}

.text-area .content{
    -fx-background-color: #fefefe;
}

.text-area{
    -fx-text-fill: #000000;
    -fx-font-family: Consolas;
}